body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #f4d04e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Figtree", sans-serif;;
    color: #121212;
    flex-direction: column;
    box-sizing:border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
}

.card{
    box-sizing: content-box;
    width: 400px;
    height: 100%;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px;
    transition: box-shadow 0.3s ease-in-out;
}

.card-container{
    width: 100%;
    margin: 30px;
}

.illustration{
    border-radius: 10px;
    width: 84%;
    margin: 8% 8% 0 8%;
}

h2{
    font-size: 16px;
    font-weight: 800;
    width: 20%;
    background-color: #f4d04e;
    padding: 8px 10px 8px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.date{
    font-weight: 600;
}

h1{
    width: 100%;
    font-size: 25px;
    font-weight: 800;
}
.card a{
    color: #121212;
    text-decoration: none;
    transition: color 0.3s ease
}
.card a:hover {
    color: #f4d04e;
    padding: 8px;
}

.card:hover {
    box-shadow: 20px 20px ;
}

.text{
    color: #808080;
    line-height: 1.5;
    width: 80%;
}

.name{
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 0;
}

.author img{
    width: 35px;
    float: left;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 15px;
}

.author{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

footer{
    position: fixed;
    bottom: 0;
    left: 41.5%;
    width: 100%;
    text-align: center;
    padding: 10px;

}
